---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { buttonVariants } from "@/components/ui/button";
import Card from "@/components/Card.astro";
---

<BaseLayout
  title="Astro Shadcn UI Template"
  description="This template helps you build apps with Astro, Tailwind CSS, and Shadcn UI."
>
  <section class="container grid items-center gap-6 pb-8 pt-6 md:py-10">
    <div class="flex max-w-[980px] flex-col items-start gap-2">
      <h1
        class="text-3xl font-extrabold leading-tight tracking-tighter md:text-4xl"
      >
        Astro Shadcn UI Template <br class="hidden sm:inline" />
        built with Radix UI and Tailwind CSS.
      </h1>
      <p class="max-w-[700px] text-lg text-muted-foreground">
        Accessible and customizable components that you can copy and paste into
        your apps. Free. Open Source.
      </p>
    </div>
    <div class="flex gap-4">
      <a
        href="https://ui.shadcn.com"
        target="_blank"
        rel="noreferrer"
        class={buttonVariants()}
      >
        Documentation
      </a>
      <a
        href="https://github.com/AREA44/astro-shadcn-ui-template"
        target="_blank"
        rel="noreferrer"
        class={buttonVariants({ variant: "outline" })}
      >
        GitHub
      </a>
    </div>
  </section>
  <section class="container">
    <h3 class="font-semibold text-3xl my-3">About Astro</h3>
    <div class="container gap-2 grid grid-cols-1 md:grid-cols-2">
      <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
      />
      <Card
        href="https://astro.build/integrations/"
        title="Integrations"
        body="Supercharge your project with new frameworks and libraries."
      />
      <Card
        href="https://astro.build/themes/"
        title="Themes"
        body="Explore a galaxy of community-built starter themes."
      />
      <Card
        href="https://astro.build/chat/"
        title="Community"
        body="Come say hi to our amazing Discord community. ❤️"
      />
    </div>
  </section>
</BaseLayout>
