---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li
	class="list-none flex p-px bg-background rounded-lg transition-all duration-600 ease-[cubic-bezier(0.22,1,0.36,1)] shadow-[inset_0_0_0_1px_rgba(255,255,255,0.1)] hover:bg-gradient-to-r hover:from-teal-300 hover:to-violet-500"
>
	<a
		href={href}
		class="w-full text-secondary-foreground border-primary no-underline leading-normal p-6 rounded-lg bg-background opacity-80 hover:opacity-100"
	>
		<h2
			class="m-0 text-xl transition-colors duration-600 ease-[cubic-bezier(0.22,1,0.36,1)] hover:text-teal-300"
		>
			{title}
			<span> &rarr;</span>
		</h2>
		<p class="mt-2 mb-0">
			{body}
		</p>
	</a>
</li>
